body{ 
	background-color:#333;
	margin:0; 
	padding:0; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

#header{ 
	background-color:#660000;
	height:90px;
	
	width: 760px;
	margin: auto;
}

#titles span.owner {
	font-size: 12px;
	color: #FFFFD3;
	position: relative;
	top: 15px;
	left: 15px;
}

#titles span.owner a {
    text-decoration: none;
	color: #FFFFD3;
}

#titles span.app_name {
	font-size: 18px;
	font-weight: bold;
	color: #F4F4F4;
	position: relative;
	top: 15px;
	left: 15px;
}

#session {
    text-align: right;
	position: absolute;
	top: 5px;
	width: 750px;
	padding-right: 10px;
	color: #F4F4F4;
	font-size: 11px;	
}

#session a {
	color: #F4F4F4;
	text-decoration: none;
}

#session a:hover {
	color: #FFFFD3;
}

#center { 
	background-color:#EBEBEB; 
	min-height:450px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	height:450px; /* for IE5.x and IE6 */
	padding: 10px;
	
	width: 740px;
	margin: auto;
}

#paper_sheet {	
	height: auto !important;
	clear: both;	
}

#navigation {
    position: absolute;
    top:66px;
}

#navs {
	padding: 0;
	margin: 0;
	margin-left: 15px;
	list-style: none;
	font-weight: bold;
}

#navs li {
	float: left;	
}

#navs li a {
    font-size: 11px;
	display: block;
	padding: 5px;
	margin-right: 5px;
	text-decoration: none;
	background: #993333 url(/images/admin_ui/common.jpg) repeat-x;
	color: #F4F4F4;
}

#navs li a:hover {
	background: transparent url(/images/admin_ui/hover.jpg) repeat-x;
	color: #333333;
}

#navs li.selected a {
	display: block;
	padding: 5px;
	margin-right: 5px;
	text-decoration: none;
	background: #EBEBEB url(/images/admin_ui/current.jpg) repeat-x;
	color: #660000;
}

#content {	
	background-color: white;
	min-height: 430px;
	height: auto !important;
	height: 430px;
	clear: both;
}

#support {
	position: absolute;
	top: 105px;
	margin-left: 530px;
	width: 205px;	
	padding: 5px;	
}

#footer { 
	clear:both;
	background-color:#EBEBEB;
	height: 40px;
	
	width: 760px;
	margin: auto;
}

#credits {
	color: #333333;
}

#credits span {
	position: relative;
	top: 10px;	
	left: 10px;
}

#credits a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	top: 10px;	
	left: 10px;
}

#credits a:hover {
	color: #660000;
}

div.section_label {
	padding: 5px;	
	color: #666666;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #E9E9E9;
	background-color: #F4F4F4;
}

#center div.pagination {
	text-align: right;
	color: #660000;
	font-weight: bold;
	margin-bottom: 10px;
}

#center div.pagination a {	
	padding: 2px 5px;
	margin-right: 3px;
	background-color: #EFF2F2;
	border: 1px solid #EBEBEB;
	color: #660000;	 
	text-decoration: none;	
}

#support form label {	
	color: #333333;
}

#support form label span.scope {
    color: #666666;
}

#support form label input {
	width: 80%;
	border: 1px solid #E1E1E1;
}

#mini_flash {
	background-color: #FEFEE2;
	padding: 5px;
	color: #333;
	font-weight: bold;
	margin: 10px 0px;
}

#mini_flash a {
    color: #666;
    text-decoration: none;
    border:1px solid #C2C2C2;
    padding: 1px 5px 1px 5px;
    float: right;
    margin-top: -17px;
}

#list_area div.msg {
    background-color: #FEDEDE;
    border: 1px solid #FEDADA;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #9D0505;
}

#actions {	
	margin: 7px 0px;
	text-align: right;
}

#actions a {
    margin-right: 5px;
    font-size: 11px;
	text-decoration: none;
	background-color:#E0ECF6;
    border:1px solid #C5DDEF;
    padding: 2px 5px;
    color:#408DC8;
}

#actions a img {
	border: none;
}

#list_area #grid_table {	
	width: 100%;
	margin-top: 10px;		
}

#list_area #grid_table td {
	padding: 2px;	
}

#list_area #grid_table th {
	background-color: #C2C2C2;
	color: #032E6F;
	padding: 2px; 
}

#list_area #grid_table tr.even {
	background-color: #F4F4F4;	
}

#list_area #grid_table tr.odd {	
}

#list_area #grid_table td a img {
	border: none;
	margin-left: 5px;
}

.elegant {
    padding: 10px;
}

.elegant .header {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.elegant .header span,
.elegant .body span {
	font-size: 10px;
	color: #666666;
}

.elegant .header div {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #666666; 
}

.elegant .body div {    
    margin-bottom: 10px;
    background-color: #F9F9F9;
    padding: 5px;
    margin-top: 3px;
}

.elegant .actions {
	text-align: right;
	border-top: 1px solid #F4F4F4;
	padding-top: 10px;
}

.elegant .actions a, 
.elegant .actions a.neutro,
.elegant .actions a.delete {
	padding: 3px 5px 3px 5px;
	margin-right: 3px;
	text-decoration: none;
}

.elegant .actions a {	
	background-color: #E0ECF6;
	border: 1px solid #C5DDEF;
	color: #408DC8; 	
}

.elegant .actions a.neutro {	
	background-color: #F4F4F4;
	border: 1px solid #C2C2C2;
	color: #666666;	 	
}

.elegant .actions a.delete {
    background-color: #FEE2E2 ;
	border: 1px solid #FA6262;
	color: #F10000;	 	
}

#content form {
    margin: 10px;
    background-color: #F4F4F4;
    padding: 5px;
}

#content form div.actions {
    text-align: right;
    margin: 0px;
}

#content form div.actions a {
    color: #F10000; 
}

#content form input.save {
    padding: 3px 5px;
	text-decoration: none;	
	background-color:#E0ECF6;
    border:1px solid #C5DDEF;
    color:#408DC8;
    cursor: pointer;
    font-size: 11px;
}

#content form div {
    margin-bottom: 10px;
}

#content form label.label {
    font-size: 10px;
	color: #666666;
}

#content form input.width_1_2,
#content form textarea.width_1_2 {
    width: 232px;
}

#content form input.width_1_3,
#content form textarea.width_1_3 {
    width: 151px;
}

#content form input.width_2_3,
#content form textarea.width_2_3 {
    width: 312px;
}

#content form textarea {
    height: 70px;
}

#content form input.width_all,
#content form textarea.width_all {
    width: 485px;
}

#content form input.highlight {
    width: 485px;
    font-size: 16px;
    font-weight: bold;
}

#content form textarea.editor {
    width: 485px;
    height: 300px;
}

#content form input, 
#content form textarea {
    border:1px solid #e1e1e1;    
}

#content form textarea.mini_area {
    height: 50px;
}

#content form textarea.medium_area {
    height: 150px;
}

#paper_sheet div.resource_context {
    padding: 10px;
    background-color: #F4F4F4;
    border: 1px solid #C3C3C3;
}

#paper_sheet div.resource_context span.context {
    color: #666666;
    font-size: 10px;
}

#paper_sheet div.resource_context span.body {
    color: #333333;
}

#paper_sheet div.resource_context h3 {
    padding: 0px;
    margin: 3px 0px 3px 0px;
    color: #032E6F;
}

#paper_sheet div.resource_context div.actions {
    text-align: right;
    margin-top: 10px;
}

#paper_sheet div.resource_context div.actions a {	
	background-color: #F4F4F4;
	border: 1px solid #C2C2C2;
	color: #666666;	 	
	padding: 3px 5px 3px 5px;
	margin-right: 3px;
	text-decoration: none;
}

#support div.related_info {
    padding: 5px;
    background-color: #E5E5E5;
    border: 1px solid #E1E1E1;
}

#support div.related_info h3 {
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #666666;
    border-bottom: 1px solid #C2C2C2;
}

#support div.related_info ul {
    padding: 0px;
    margin: 10px 0px 10px 0px;
    list-style: none;
}

#support div.related_info ul li { 
    margin-bottom: 10px;    
}

#support div.related_info ul li a {     
    font-size: 12px;
    font-weight: bold;
    color: #666666;   
    padding-left: 20px;
    background: transparent url("/images/admin_ui/import_icon.gif") no-repeat;
}

#paper_sheet ul.list {
    list-style: none;
    margin: 0px;
    margin-top: 10px;
    padding: 3px;
}

#paper_sheet ul.list li.odd a {
    background-color: #FAFAFA;
}
#paper_sheet ul.list li.even a {
    background-color: #F1F1F1;
}

#paper_sheet ul.list li a {
    display: block;    
    cursor: pointer;
    text-decoration: none;
}

#paper_sheet ul.list li a div {
    padding: 3px;
    color: #333333;
}

#paper_sheet ul.list li a div h3 {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #660000;
}

#paper_sheet ul.list li a:hover {
    background-color: #FDEDCD;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 1px solid #FF0000;
  padding: 2px;
  margin: 10px;
  background-color: #FEE2E2;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  display: none;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  display: none;
}

#errorExplanation ul {
  margin: 0px;
  padding: 3px 20px;
}

#errorExplanation ul li {  
  font-size: 11px;
  list-style: square;
  color: #FF0000;
}

#flash {
	position: absolute;
	z-index: 100;
	top: 4px;
	width: 760px;
	padding: 7px;
	margin-bottom: 16px;
	text-align: center;
}

#notice, #error {
	position: relative;
	z-index: 1;
	margin: 0px auto;
	text-align: left;
	width: 300px;
	
	padding: 5px 5px 5px 25px;
    font-size: 11px;
    font-weight: bold;   
}
 
#notice {
	background: #FFFFC5 url("/images/admin_ui/icon_success.png") no-repeat 5px;
    color: #333333;
}

#error {
	background: #FEE2E2 url("/images/admin_ui/icon_error.png") no-repeat 5px;
    color: #A30505;    
}

.float_left {
    clear: both;
}

.float_left div {
    float: left;
    margin-right: 10px;
}

#content form div.actions {
    clear: both;
}

#support div.f_header {
	margin-top: 15px;
	font-weight: bold;
	color: #666666;    
	border-bottom: 1px solid #CFCFCF;
}

#support ul.filters {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}

#support ul.filters li {
	margin-bottom: 3px;
}

#support ul.filters li a {
	display: block;
	text-decoration: none;
	padding: 3px;
	color: #333333;    
}

#support ul.filters li a:hover {
	background-color: #CFCFCF;
}

#support ul.filters li.current a {
	background: #993333;
	font-weight: bold;
	color: #F4F4F4;
}

div.group {
	margin-bottom: 10px;
	border: 1px solid #F4F4F4;
}

div.group div.header {
	margin: 0px;
	padding: 3px 3px 3px 20px;
	background: #CFCFCF url(/images/admin_ui/group.png) no-repeat 2px 3px;
	border-bottom: 1px solid #BBBBBB;
	color: #333333;
	font-weight: bold;
}

div.group ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

div.group li {
}

div.group li a {
	display: block;
	text-decoration: none;
	color: #333333;
	padding: 5px;
}

div.group li a:hover {
	background-color: #EEF9FD;
}

div.group li.even {
	background-color: #F4F4F4;
}

div.group div.more {
	padding: 5px;
	text-align: right;
}

div.group div.more a {
	text-decoration: none;
	color: #032E6F;
	padding-left: 20px;
	background: transparent url('/images/admin_ui/more.png') no-repeat;
}

#content form div.check_box label.label {
	color: #333333;
	font-size: 12px;
}

table.grid_table {
	background-color: #FAFAFA;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	width: 100%;
}

table.grid_table thead tr th {
	background: transparent url(/images/admin_ui/bg_head.jpg) repeat-x;
	padding: 0px 10px;
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	color: #333333;
	height: 30px;
}			

table.grid_table tbody tr td {
	height: 25px;
	padding: 0px 5px;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #F4F4F4;
	border-bottom: 1px solid #CFCFCF;
	cursor: pointer;
}

table.grid_table tbody tr.even {
	background: white url(/images/admin_ui/bg_even.jpg) repeat-x bottom;				
}			

table.grid_table tbody tr.over {
	background: white url(/images/admin_ui/bg_over.jpg) repeat-x bottom;				
}

#shadow-container {  
    position: relative;  
    left: 3px;  
    top: 3px;  
    margin-right: 3px;  
    margin-right: 220px;  
    margin-bottom: 3px;
/*    width: 525px;  */
}  

#shadow-container .shadow2,  
#shadow-container .shadow3,  
#shadow-container .container {  
    position: relative;  
    left: -1px;  
    top: -1px;  
}  

#shadow-container .shadow1 {  
    background: #F1F0F1; 
    background: #DEDEDE; 
}  

#shadow-container .shadow2 {  
    background: #DBDADB;  
}  

#shadow-container .shadow3 {  
    background: #B8B6B8;  
}  

#shadow-container .container {  
    background: #ffffff;  
    border-right: 1px solid #9B9B9D;  
    border-bottom: 1px solid #9B9B9D;  
    /*padding: 10px;  */
}  

.admin_grid {
    margin: 5px;
    padding: 0px;
    width: 98%;
}

.admin_grid tr th {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    font-size: 11px;
    color: #333333;
    padding: 2px;
}

.admin_grid tr td {
    border: 1px solid #ebebeb;
    padding: 0px 5px;
}

.admin_grid td.link_options {
    width: 50px;
    text-align: right;
}

.admin_grid td.link_options a img {
    border: 0px;    
    margin-top: 3px;
}

.admin_grid tr.even {
    background-color: #f4f4f4;
}

#context {
    margin: 10px 0px;
    background-color: #FFFFF1;
    border: 1px solid #FFFFCC;
    padding: 5px;
    margin-right: 220px;
    color: #666666;
}

#context a {
    color: #333333;
}