<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title><%= controller.title %> :: <%= controller.app_name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <% bundle :name => :admin do %>      
      <%= stylesheet_link_tag 'admin_look.css'%>
      <%= stylesheet_link_tag 'admin_campus.css'%>
      
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'admin_ui.js' %>
    <% end %>
</head>

<body>
    <div id="header">
        <div id="titles">
            <span class="owner"><%= controller.owner %></span> <br />
            <span class="app_name"><%= controller.app_name %></span> 
        </div>
        <div id="navigation">
            <%= generate_navigation %>
        </div>
        <div id="session">
            <% unless controller.options[:secured] == false %>
                <%= render :partial => 'commons/session' %>      
            <% end %>
        </div>
    </div>
    <div id="center">
    	<% if false %>
        <% #render_flash_message %>
		<% end %>
		
		<% if !flash.blank? %>
			<div id="flash" class="alert">
				<% flash.each do |key, msg| %>
					<%= content_tag :div, msg, :id => key %>
				<% end %>
			</div>
		<% end %>
		
        <%=  render :partial => "#{@parent.class.to_s.downcase.pluralize}/context" if @parent %>

        <div id="shadow-container">
            <div class="shadow1">
                <div class="shadow2">
                    <div class="shadow3">
                        <div id="paper_sheet">            
                            <div id="content" class="container">                                
                                <%= yield %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="support">
            <%= yield :support %>            
            <%= yield :extras %>
        </div>
    </div>
    <div id="footer">
        <div id="credits">
            <span>powered by</span> <a href="http://www.insignia4u.com" target="_blank">(in)signia</a> <span>&</span> <a href="http://www.rubyonrails.org" target="_blank">ruby on rails</a>
        </div>
    </div>
</body>

</html>