<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Administrate-me Page</title>
    <link rel="stylesheet" href="http://insignia.github.com/administrate_me/css/default.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1></h1>
	<h2>administrate_me</h2>
        <br class="clear" />
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <div><small>administrate_me put together by people at <a href="http://www.insignia4u.com/">insignia</a></small></div>
        <div><small>Don't forget to read our <a href="http://www.railslife.com.ar/">blog</a></small></div>
      </div>
    </div>
  </body>
</html>
