<%= render_action_label %>
 
<%= error_messages_for :resource %>

<% form_for(controller.model_name, @resource,
           :url => eval("#{controller.model_name.pluralize}_path")) do |f| %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <div class="actions">
    <%= submit_tag "Guardar estos cambios", :class => 'save' %> o 
    <%= link_to 'Cancelar', productos_path %>
  </div>
<% end %>