<%= show_label("Agregar un nuevo registro de #{controller.model_name.humanize}") %>
 
<%= error_messages_for :resource %>

<% form_for(controller.model_name, @resource,
            :builder => AdminBuilder,
            :url => path_to_index,
            :html => html) do |f| %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <div class="actions">
    <%= submit_tag "Guardar estos cambios", :class => 'save' %> o 
    <%= link_to 'Cancelar', path_to_index %>
  </div>
<% end %>